* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url(/images/homepage_bg.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

/* .navbar {
  height: 12%;
  display: flex;
  align-items: center;
} */

.logo {
  width: 70px;
  cursor: pointer;
  padding-top: 5px;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}
/* nav {
  flex: 1;
  text-align: right;
} 
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}*/
nav {
  box-sizing: border-box;
  border: 2px solid rgb(38, 70, 158);
  background-color: #fff;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
}

nav h2 {
  margin-left: 11px;
  cursor: pointer;
  color: #000;
}

nav h2 span {
  font-style: italic;
  color: rgb(38, 70, 158);
}

nav ul {
  flex: 1;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  padding: 4px;
}

nav ul li a {
  padding: 15px;
  text-decoration: none;
  color: #000;
  transition: 2s;
}

nav ul li a:hover {
  box-shadow: 0 5px 20px rgb(38, 70, 158) inset,
    0 5px 20px rgb(38, 70, 158) inset, 0 5px 20px rgb(38, 70, 158) inset,
    0 5px 20px rgb(38, 70, 158) inset;
}

nav .btn {
  color: #000;
  text-decoration: none;
  margin-right: 25px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 12px;
  background-color: rgb(98, 122, 189);
}

.row {
  display: flex;
  align-items: center;
  height: 88%;
}
.col {
  flex-basis: 50%;
}

h1 {
  color: #fff;
  position: absolute;
  top: 25%;
  font-size: 65px;
  text-shadow: 0px 3px 3px rgb(98,122,189), 0px 3px 0px rgb(98,122,189);
  left: 6%;
  l

}

p {
  color: #f1f1f1 ;
  line-height: normal;
  font-size: 20px;
}

/* button {
  width: 180px;
  color: #ffffff;
  font-size: 18px;
  padding: 12px 0;
  transition: transform 0.5s;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  background-image: url(/images/homepage_explore.jpg);
} */
.card1 {
  width: 150px;
  height: 160px;
  position: absolute;
  /* top: 10% */
  bottom: 47%;
  right: 25%;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  /* margin: 10px 15px; */
  margin: 20px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(/images/homepage_TRADE\ MARK.jpg);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card1:hover {
  transform: translateY(-20px);
}
.card1 p {
  text-shadow: 0 0 15px #000;
}
.card2 {
  width: 150px;
  height: 160px;
  position: absolute;
  /* top: 10% */
  bottom: 47%;
  right: 8%;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  /* margin: 10px 15px; */
  margin: 20px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(/images/homepage_PATENTS.png);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card2:hover {
  transform: translateY(-20px);
}
.card2 p {
  text-shadow: 0 0 15px #000;
}
.card3 {
  width: 150px;
  height: 160px;
  position: absolute;
  /* top: 10% */
  bottom: 17%;
  right: 25%;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  /* margin: 10px 15px; */
  margin: 20px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(/images/homepage_COPYRIGHTS.png);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card3:hover {
  transform: translateY(-20px);
}
.card3 p {
  text-shadow: 0 0 15px #000;
}
.card4 {
  width: 150px;
  height: 160px;
  position: absolute;
  /* top: 10% */
  bottom: 17%;
  right: 8%;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  /* margin: 10px 15px; */
  margin: 20px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url(/images/homepage_TRADE\ SECRETS.png);
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card4:hover {
  transform: translateY(-20px);
}
.card4 p {
  text-shadow: 0 0 15px #000;
}
h5 {
  color: #000000;
  text-shadow: 0 0 5px #999;
  margin: 40% 30%;
  align-items: center;
  text-align: center;
}

.col1 {
  padding-right: 100px;
}
.ip-title {
  padding-bottom: 30px;
}
.ip-desc {
  font-size: 30px;
  position: absolute;
  /* bottom: 5%; */
  right: 45%;
  left: 3%;
  text-align: justify;
}
/* button:hover {
  transform: scale(1.15);
} */
