* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(/images/patent_bg.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
nav {
  box-sizing: border-box;
  border: 2px solid rgb(38, 70, 158);
  background-color: #fff;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
}

nav h2 {
  margin-left: 11px;
  cursor: pointer;
  color: #000;
}

nav h2 span {
  font-style: italic;
  color: rgb(38, 70, 158);
}

nav ul {
  flex: 1;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
  padding: 4px;
}

nav ul li a {
  padding: 15px;
  text-decoration: none;
  color: #000;
  transition: 2s;
}

nav ul li a:hover {
  box-shadow: 0 5px 20px rgb(38, 70, 158) inset,
    0 5px 20px rgb(38, 70, 158) inset, 0 5px 20px rgb(38, 70, 158) inset,
    0 5px 20px rgb(38, 70, 158) inset;
}

nav .btn {
  color: #000;
  text-decoration: none;
  margin-right: 25px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 12px;
  background-color: rgb(98, 122, 189);
}

/* .navbar {
    height: 12%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo {
    width: 70px;
    cursor: pointer;
    padding-top: 5px;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    padding-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
} */

.row {
  display: flex;
  align-items: center;
  height: 88%;
  position: absolute;
  top: 15%;
}

.col {
  flex-basis: 50%;
  bottom: 5%;
}

h1 {
  color: #fff;
  font-size: 60px;
}

p {
  color: #fff;
  line-height: 15px;
  font-size: 11px;
  /* position: absolute; */
  height: 30%;
  bottom: 5%;
}

.col1 {
  padding-right: 100px;
}

.ip-title {
  padding-bottom: 30px;
  position: absolute;
  top: -5%;
}

.ip-desc {
  font-size: medium;
  /* position:absolute; */
  top: 30%;
}

.card {
  width: 400px;
  height: 350px;
  display: inline-block;
  border-radius: 20px;
  margin: 100px;
  margin-right: 200px;
  box-sizing: border-box;
  cursor: default;
  background-size: cover;
}

button:hover {
  transform: scale(1.15);
}

button {
  width: 180px;
  color: #ffffff;
  font-size: 18px;
  padding: 12px 0;
  transition: transform 0.5s;
  border: 0;
  border-radius: 1000px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
  background-image: url(/images/homepage_explore.jpg);
}
