.myHeadingInfo{
    font-family: 'Roboto';
    text-align: center;
}
#myName{
    margin-bottom: 0px;
}

#myTitle{
    margin-top: 0px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}   

/*NAVIGATION BAR*/
.navigationBar {
  background-color: #333;
  overflow: hidden;
  display: flex; /* Added */
  justify-content: space-between; /* Added */
  align-items: center; /* Added */
}

.navigationBar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px;
}

.navigationBar a:hover {
  background-color: #ddd;
  color: black;
}

.navigationBar a.active {
  background-color: #04AA6D;
  color: white;
}

.navLinksMiddle{
  display: flex; /* Added */
}

.navLinksMiddle > div {
  margin: 0 10px; /* Adjusted */
}

.navLinksRight{
  padding-right: 50px;
}

#home{
  padding-left: 20px; /* Adjusted */
}

.navContact{
  background-color: #04AA6D;
}

/*my Profile*/
.profileContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px; /* Adjusted */
}

#myPara {
  font-family: 'Roboto';
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 0px;
  padding: 20px;
  border: 2px solid black;
  flex: 1; /* Added */
}

img {
  border-radius: 60px;
  width: 160px;
}

/*SWP*/
.swp {
  display: flex;
  justify-content: space-around;
  margin-left: 220px;
  margin-top: 0px;
}

.section {
  flex: 1;
  margin: 0 5px;
}

#skills, #work, #project {
  border: 2px solid black;
}
